@media not screen and (max-width: 600px) {
  td, th {
    border: 1px solid var(--accent-color);
  }
  #chart-wrapper {
    position: relative;
    z-index: 10;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    background-color: var(--accent-color);
  }
}

#filterbox {
  float: right;
  margin-right: 0;
  margin-top: -40px;
  margin-bottom: 10px;
}

#above-chart {
  min-width: 600px;
  float:left;
  max-width: calc(100% - 275px);
}

@media only screen and (max-width: 600px) {
  #filterbox {
    width: 100%;
    margin-top: auto;
    margin-bottom: 10px;
  }
  #above-chart {
    max-width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  #above-chart {
    min-width: 0;
    max-width: 100%;
  }
  #filterbox {
    margin-top: 0;
  }
  td {
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
  }
}


.check, .all-check {
  width: 32px;
}

#chart-wrapper {
  clear: both;
}

#topcheck, #listcheck, .check, .all-check {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
}

table {
  font-size: 20px;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: #fefefe;
  width: 100%;
}

thead{
  font-weight: bold;
  background-color: var(--accent-color);
  color: white;
}

td, th {
  padding: 5pt 10pt;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
}

td {
  overflow:hidden;
  overflow-wrap: break-word;
  word-wrap:     break-word;
}

th.all-check {
  box-shadow: inset 0 0 100px #FFFFFF2C;
}

th:not(.last-col){
  border-right-color: #FFFFFF66;
}

#visibilityBlock label.css-label {
  margin: -10px 3px;
}

#visibilityBlock h3 {
  font-size: 16;
}

td[contenteditable~=true] {
  outline: 2px dashed #00000090;
}
/* odd-row is given by jQuery */
tbody tr.odd-row {
  background-color: #00000012;
  list-style-type: disc;
}

/*Highlight stuff*/
tr {
  transition-duration: 0.1s;
}

tr:not(.highlight) ~ .highlight, thead + tbody tr.highlight{
  /*all highlights*/
  background-color: var(--focus-color-light);
}
tr:not(.highlight) ~ .highlight.odd-row, thead + tbody tr.highlight.odd-row{
  /*all highlights, odd*/
  background-color: var(--focus-color);
}

tr:not(.highlight) + .highlight {
  /*first highlight*/
  box-shadow: 0px -3px 2px -1px #80808080;
}

.highlight + tr:not(.highlight) {
  /*first item AFTER highlights*/
  box-shadow: inset 0px 6.5px 4px -4px grey;
}
/*End highlight stuff*/

@media only screen and (max-width: 800px) {
  .check, .all-check css-label {
    padding: 0 8px;
  }
}

/*chrome hack for proper right side borders*/
@supports (-webkit-font-smoothing:antialiased) {
  @media not screen and (max-width: 600px) {
    td, th {
      border-right-width: 0;
    }
  }
}
