/*#list-wrapper {
  width: 1000px;
  border: 1px solid grey;
}

#list-wrapper td{
  border: 0;
}

#list-wrapper tr:focus{
  background-color: var(--accent-color);
  color: var(--contrast-text-color);
}

#list-wrapper tr input{
  opacity: 0;
  width: 0;
  height: 0;
}

.list-focus {
  box-shadow: inset 0 100px 0 0 var(--focus-color);
}
*/
