:root {
  --accent-color: hsl(0, 0%, 50%);
  --accent-color-dark: hsl(0, 0%, 30%);
  --accent-color-light: hsl(0, 0%, 70%);
  --main-text-color: #444444;
  --contrast-text-color: white;
  --dim-text-color: #AAAAAA;
  --main-text-size: 15px;
  --button-bg-color: white;
  --focus-color: hsl(0, 0%, 50%);
  --focus-color-light: hsl(0, 0%, 40%);
  --shadow: 0 2px 15px 0 #11111155;

  font-family: sans-serif;
  color: var(--main-text-color);
}

#bg {
  /*This fix is for chrome, which doesn't play nice with css variables. Actually set by js*/
  background: var(--accent-color-light);
  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  z-index: -1;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
  border: 1px solid var(--accent-color);
  padding: 0 4px;
  padding-right:20px;
  height: 26px;
  border-radius: 5px;
  font-size: var(--main-text-size);
  color: var(--accent-color);
  background-color: white;
}

select:hover, select:focus {
  color: black;
  border-width: 2px;
  padding: 0 3px;
  padding-right:19px;
}

.select-arrow {
  pointer-events: none;
  display: inline-block;
  width: 15px;
  height: 25px;
  margin-left: -20px;
  margin-bottom: -7px;
  border-radius: 0 3px 3px 0;
  background: url("../img/dropdown-arrow.svg") 50% no-repeat;
  background-color: var(--accent-color);
}

.content-block {
  background-color: var(--contrast-text-color);
  box-shadow: var(--shadow);
  border-radius: 4px;
  padding: 20px;
  margin: 20px 10px;
  flex-grow: 1;
  overflow: hidden;
}

#top-bar {
  transition-duration: 0.25s;
  position: fixed;
  width: 100%;
  top: 0;
  margin: -8px;
  margin-top: 0;
  padding: 10px;
  height: 30px;
  background-color: white;
  line-height: 35px;
  overflow: hidden;
  z-index: 1000;
}

#top-bar.scrolled {
  box-shadow: var(--shadow);
}

#top-userinfo {
  float: right;
  margin-right: 20px;
}

#top-title {
  overflow: hidden;
  position: absolute;
  font-weight: bold;
  font-size: 150%;
  vertical-align: middle;
  margin-bottom: -2px;
  padding: 0;
  max-width: 40%;
  line-height: 33px;
  white-space: nowrap;
  display: inline-block;
  height: 30px;
  background-color: white;
}

#top-bar *:not(div) {
  margin-left: 10px;
}

#top-bar a {
  text-decoration: none;
  margin-left: -2px;
  padding: 0;
  color: var(--accent-color);
}
#top-bar a:hover {
  text-decoration: underline;
}

h1 {
    margin-top: 5px;
}

h3 {
  display: inline-block;
  font-weight: normal;
  margin: 3px 0;
  padding: 0;
}

input[type~="submit"] {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  background-color: var(--button-bg-color);
  border: 1px solid var(--accent-color);
  height: 26px;
  border-radius: 4px;
  font-size: var(--main-text-size);
  color: var(--accent-color);
}

input[type~="submit"]:focus {
  background-color: var(--focus-color);
  color: black;
}

input[type~="submit"]:hover {
  background-color: var(--accent-color);
  color: var(--contrast-text-color);
}

input[type~="text"], input[type~="password"] {
  background-color: var(--button-bg-color);
  border: 1px solid var(--accent-color);
  height: 26px;
  border-radius: 4px;
  font-size: var(--main-text-size);
  margin: 2px 3.7px 2px 0;
  padding: 0 5px;
}

input[type~="text"]:focus, input[type~="password"]:focus {
  border-width: 2px;
  padding: 4px;
}

input[type~="text"]:hover:not(:focus), input[type~="password"]:hover:not(:focus) {
  box-shadow: inset 0 0 0 1px var(--focus-color);
}

@media only screen and (max-width: 600px) {
  input[type~="text"], input[type~="password"] {
    padding: 20px;
    width: 79%;
  }
  input[type~="text"]:focus, input[type~="password"]:focus {
    padding: 19px;
  }

  input[type~="submit"]:not(#add-plus) {
    padding: 10px 15px 30px 15px;
  }
  select {
    height: 45px;
    padding-right: 25px;
    padding-left: 10px;
  }
  select:hover, select:focus {
    height: 45px;
    padding-right: 24px;
    padding-left: 9px;
  }
  .select-arrow {
    padding-left: 4px;
    margin-left: -23px;
    margin-bottom: -16px;
    height: 44px;
  }
  #top-userinfo:not(a){
    font-size: 0;
    margin-right: 10px;
  }
  #top-userinfo a{
    font-size: 16px;
  }
}

#all-content {
  font-family:  Helvetica, Arial, sans-serif;
  padding-top: 40px;
}

@media not screen and (max-width: 600px) {
  #all-content{
    margin: 10px 5%;
  }

  #top-userinfo, #top-title {
    padding-right: 6%;
    padding-left: 5%;
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }

  .content-block:not(#chart-block){
    padding: 20px 15px;
    margin: 1px 0;
    border-radius: 0;
    box-shadow: none;
  }

  #all-content {
    padding-top: 50px;
  }

  #top-userinfo {
    padding: 0;
  }

  #top-title {
    padding: 0;
    max-width: 61%;
  }

  #top-bar {
    margin-bottom: 1px;
    margin-top: 0;
    margin-right: 0;
  }
  #top-bar input[type~="submit"] {
    padding: 0 10px;
  }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.hidden {
  display: none;
}

input[type=checkbox].css-checkbox {
  position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  height: 15px;
  width: 15px;
  margin: 0;
  background-color: white;
  border: 1px solid var(--dim-text-color);
  display:inline-block;
  line-height:25px;
  font-size:25px;
  vertical-align:middle;
  cursor:pointer;
  border-radius: 4px;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

input[type=checkbox].css-checkbox:checked + label.css-label::after {
  content: '';
  display: block;

  width: 4px;
  height: 8px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  border-color: var(--contrast-text-color);
  transform: rotate(45deg);

  margin: 1px 4px;
}

label.css-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=checkbox].css-checkbox:focus + label.css-label, input[type=checkbox].css-checkbox:hover + label.css-label{
  background-color: var(--focus-color-light);
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
