#actionsBlock, #visibilityBlock {
  float: left;
  display: block;
  width: 300px;
}

.content-text {
  display: block;
  clear: both;
  line-height: 125%;
  margin: 0;
  padding: 0;
}

.shorten {
  margin-top: -8px;
}

hr {
  display: block;
  margin-top: 0.5em;
  float: left;
  width: 80%;
  border: 1px dashed grey;
}

@media only screen and (max-width: 600px) {
  #actionsBlock, #visibilityBlock {
    width: 100%;
  }

  #actionsBlock, #visibilityBlock hr {
    width: 100%;
    padding-right: 200px;
  }
}

#chart-block {
  clear: both;
  padding-top: 20px;
}

.msg {
  color: grey;
}

.add-fn, .add-ln, .add-nk, .add-ns {
  width: 40%;
}

#add-plus {
  float: right;
  margin-right: 20%;
  height: 20px;
  width: 35px;
}
