#actionsBlock, #visibilityBlock {
  min-width: 200px;
}

#tokenBlock {
  clear: both;
}

#signin-custom-location {
  min-width: 245px;
}

@media not screen and (max-width: 600px) {
  .h-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .h-flex .content-block {
    margin-bottom: 0px;
    width: 100%;
  }
}

.content-text {
  display: block;
  clear: both;
  line-height: 125%;
  margin: 0;
  padding: 0;
}

.content-block {
  flex-basis: 400px;
}

.shorten {
  margin-top: -8px;
}

hr {
  display: block;
  margin-top: 0.5em;
  float: left;
  width: 100%;
  border: 1px dashed grey;
}

@media only screen and (max-width: 600px) {
  #chart-block {
    clear: both;
    padding-left: 0;
    padding-right: 0;
    margin: 2px 0;
    box-shadow: none;
    border-radius: 0;
  }
  #broken-arrow-fix::before {
    content: "\A";
    white-space: pre;
  }
  .c-inner {
    padding: 20px;
  }
}

.msg {
  color: grey;
}

div .msg {
  margin-top: 8px;
}

.add-fn, .add-ln, .add-nk, .add-ns {
  width: 40%;
}

#add-plus {
  float: right;
  margin-right: 20%;
  height: 20px;
}
