<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/syles-base.css') }}">
		<script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/common.js') }}"    ></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block head %}
		<title>DB Test Page</title>
		{% endblock %}
	</head>
	<body>
		<div id="all-content">
	    <!--put navbar here-->

			{% block content %}{% endblock %}
		</div>
	</body>
</html>
