<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/syles-base.css') }}">
		<script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/common.js') }}"    		></script>
		<script async src="{{ url_for('static', filename='js/logins.js') }}"  ></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block head %}
		<title>DB Test Page</title>
		{% endblock %}
		<script>
			//Set colors
			function sc(c) {
				$(":root").css("--accent-color", "hsl("+c+")");
				$(":root").css("--focus-color", "hsla("+c+", 0.6)");
				fcLight = "hsla("+( parseInt(c.split(',')[0])) +", "+c.split(',')[1]+", 45%, 0.5)";
				$(":root").css("--focus-color-light", fcLight);
				acDark = "hsl("+( parseInt(c.split(',')[0])+30) +", "+c.split(',')[1]+", 25%)";
				acLight= "hsl("+( parseInt(c.split(',')[0])-30) +", "+c.split(',')[1]+", 40%)";
				$(":root").css("--accent-color-dark" , acDark);
				$(":root").css("--accent-color-light", acLight);
				$(":root").css("--background-gradient", "linear-gradient(to bottom left,"+acLight+","+acDark+")");
			}
			sc("{{accentcolor}}");

		</script>
	</head>
	<body>
		<div id="bg"></div>
		<div id="top-bar">
			<span id="account-span">
				<span id="top-title"> ... </span>
				<span id="top-userinfo">
					{% if loggedin %}
						Logged in as
						<a href="/userinfo">
							<b>
								<svg viewbox="0 0 100 100" style="height:12px; margin:0 -3px;">
									<circle cx="50" cy="25" r="23"/>
									<path d="M10 100 C 0 45, 100 45, 90 100"/>
								</svg>
								{{ user.username|title }}
							</b>
						</a>
						<input type="submit" id="signout-button" value="Sign Out" onclick="logOutRequest();">
					{% else %}
						Not logged in
					{% endif %}
				</span>
			</span>
		</div>

		<div id="all-content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
