{% macro head() -%}
	<script src="{{ url_for('static', filename='js/camperlist.js') }}"></script>
	<!--<script async src="{{ url_for('static', filename='js/lib/fuse.min.js') }}"></script>
	<script async src="{{ url_for('static', filename='js/filter.js') }}"></script> -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/camperlist.css') }}">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />


	<script>

	</script>
{% endmacro %}

{% macro visblock() %}
  <div id="visibilityBlock" class="content-block">
    <h1> What to Show </h1>
    <div class="content-text">
			<div class="msg"> Use this to show or hide columns from the chart, if you want to. Useful for decluttering on mobile. </div><hr>
      <form id="visibilityForm">
        <label> <h3> ID Code          </h3> <input class="id-vis" type="checkbox"         onchange="colVis('.id-col',this.checked)"> </label> <br>
        <label> <h3> First Name 			</h3> <input class="fn-vis" type="checkbox" checked onchange="colVis('.fn-col',this.checked)"> </label> <br>
        <label> <h3> Last Name				</h3> <input class="ln-vis" type="checkbox" checked onchange="colVis('.ln-col',this.checked)"> </label> <br>
				<label> <h3> Nickname					</h3> <input class="nk-vis" type="checkbox" checked onchange="colVis('.nk-col',this.checked)"> </label> <br>
				<label> <h3> Current Location	</h3> <input class="lc-vis" type="checkbox" checked onchange="colVis('.lc-col',this.checked)"> </label> <br>
        <label> <h3> Notes						</h3> <input class="nt-vis" type="checkbox" checked onchange="colVis('.nt-col',this.checked)"> </label> <br>
      </form>
    </div>
  </div>
{% endmacro %}

{% macro fullbody(campers, editable=true) -%}
    <div class="clear c-inner">
      <h1> All Camper Info </h1>

      <div class="content-text" id="above-chart">
				{% if editable %}
        Double click on any name or notes to edit. Number next to location is time of most recent change.
				<span id="edit-save-message" class="msg">
          <!-- intentionally empty for js -->
        </span>
				{% endif %}
      </div>
			<input type="text" id="filterbox" placeholder="Search &amp; Filter" onkeyup="filter(this.value, 'ordered')">
    </div>
		<br>

    {{ chartwrapped(campers, editable) }}

		{% if editable %}
    <div class="content-text msg c-inner">
      <br>
      Use the action bit at the top of the page to add people to the database.
    </div>
		{% endif %}
{% endmacro %}

{% macro chartwrapped(campers, editable=true) -%}
	<div id="chart-wrapper">
		{{ chartonly(campers, editable) }}
	</div>
{% endmacro %}

{% macro chartonly(campers, editable=true) -%}
  <table>
    <thead>
      {% if editable %}<th class="all-check"> <input class="select-all-box" type="checkbox" style="border: 2px solid white;" onchange="checkAll(this.checked)"> </th>{% endif %}
      <th class="id-col"> ID </th>
      <th class="fn-col"> First Name</th>
      <th class="ln-col"> Last Name(s)</th>
			<th class="nk-col"> Nickname(s)</th>
      <th class="lc-col"> Location</th>
      <th class="nt-col"> Notes</th>
    </thead>
    <tbody>
      <form id="camperList">
        {% for camper in campers %}
        <tr id="{{camper.id}}">
          {% if editable %}<td class="check"> <input type="checkbox" name="select-box" value="{{camper.id}}" onchange="normalCheck(this);"></td>{% endif %}
          <td class="id-col"> {{camper.id}} </td>
          <td class="fn-col {% if editable %}editable{% endif %}" id="firstname"> {{camper.firstname}} </td>
          <td class="ln-col {% if editable %}editable{% endif %}" id="lastname" > {{camper.lastname}} </td>
					<td class="nk-col {% if editable %}editable{% endif %}" id="lastname" > {{camper.nickname}} </td>
          <td class="lc-col" id="location" > {{camper.location}} </td>
          <td class="nt-col {% if editable %}editable{% endif %}" id="note"     > {{camper.note}}</a> </td>
          <!--<a href="javascript:tableInput(notes, {{camper.id}}, this)">-->
        </tr>
        {% endfor %}
        <!-- This is here to slightly simplify the backend -->
      </form>
    </tbody>
  </table>
{% endmacro %}

{% macro list(campers) %}
	<table>
		<form id="camperList">
			{% for camper in campers %}

			<tr class="" id="{{camper.id}}">
				<td class="id-col"> {{camper.id}} </td>
				<td class="fn-col" id="firstname"> {{camper.firstname}} <input type="submit" class="" onfocus="listFocus(this, true)" onblur="listFocus(this, false)" onclick="input"> </td>
				<td class="ln-col" id="lastname" > {{camper.lastname}} </td>
				<td class="lc-col"> {{camper.location}} </td>
				<td class="nt-col" id="note"     > {{camper.note}}</a> </td>
				<!--<a href="javascript:tableInput(notes, {{camper.id}}, this)">-->
			</tr>
			{% endfor %}
			<!-- This is here to slightly simplify the backend -->
		</form>
	</table>
{% endmacro %}
