{% extends "base.html" %}

{% block head %}
  <title> P&C Signin - Home </title>
  <script src="{{ url_for('static', filename='js/logins.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login-page.css') }}">

{% endblock %}

{% block content %}

    <div id="centering-wrapper">
    <div id="user-form-wrapper" class="content-block">
      {% if loggedin %}
        <h1> You are logged in as {{ user.username }}! </h1>
        <a href="/autoredirect"> Click here if you are not redirected automatically </a>
      {% else %}
        <h1> Logged Out </h1>
        <form id="login-form" onsubmit="javascript:loginRequest(); return false;">
          <input id="username-box" type="text"     placeholder="Username"> <br>
          <input id="password-box" type="password" placeholder="Password">
          <br>

          <!-- This is so the hidden sign up button isn't called when the user presses enter -->
          <input type="submit" class="hidden" value="Log In">

          <div id="signup-extra" class="hidden">
            <input id="password-confirm-box" type="password" placeholder="Confirm Password"> <br>
            <input id="rolecode-box" type="password" placeholder="Sign Up Code">
            <div id="signup-note" class="content-text">
              Passwords don't have any limitations, just make it something easy to enter and easy to remember.
            </div>
            <input type="submit" class="submit" value="Sign Up" onclick="javascript:signUpRequest(); return false;">
          </div>
          <span id="login-note"></span>

          <br>

          <div id="signin-buttons">
            <input type="submit" class="submit" value="Log In"  form="login-form">
            <input type="submit" class="submit" value="Sign Up" onclick="javascript:signUpReady(); return false;">
          </div>

      </form>
    {% endif %}

    </div>
    </div>
{% endblock %}
