{% extends "base.html" %}
{% import "camperlist.html" as chart %}
{% import "tokenbox.html" as tokenbox %}

{% block head %}
	<title>P&C Sign In - View & Edit</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/viewdb.css') }}">
	{{ chart.head() }}
	<script async src="{{ url_for('static', filename='js/filter.js') }}"></script>
	<script async src="{{ url_for('static', filename='js/lib/fuse.min.js') }}"></script>

	<script src="{{ url_for('static', filename='js/viewdb.js') }}"></script>
	{{ tokenbox.head() }}
{% endblock %}

{% block content %}
	<div class="h-flex">
		<div id="actionsBlock" class="content-block">
			<h1> Actions (Sign In or Out) </h1>

			<div class="content-text">
				<form id="actionsForm" onsubmit="console.log('aa');submitRequest();return false;">
					Select an action:
					<span id=broken-arrow-fix></span>
					<select id="action-select" onchange="changeActionMeta(this)">
						<option value="sign-in"> Sign in / Change location </option>
						<option value="sign-out">Sign out </option>
						<option value="remove">  Remove people from the list </option>
						<option value="add">     Add new people to the list </option>
					</select>
					<span class="select-arrow"></span>
					<br>

					<div id="sign-in-options">
						<hr>
						<span class="content-text">
							Current Location of Camper(s):
							<select id="location-select" onchange="setVisibilityBySelector('#signin-custom-location', this.value == 'other')">
								{% for location in locations %}A
									<option value="{{location.short}}"> {{location.long}} </option>
								{% endfor %}
								<option value="other"> Other... </option>
							</select>
							<span class="select-arrow"> </span>
							<input type="text" class="hidden" id="signin-custom-location" placeholder="Other Location (eg: Fells Trip)">
							<div class="msg">
								Select all campers being signed in to this location using the chart or box below.<br>
							</div>
						 </span>
					</div>

					<div id="sign-out-options">
						<hr>
						<div class="msg content-text">Select all campers being signed out using the chart or box below.</div>
					</div>

					<div id="remove-options">
						<hr>
						<label class="content-text"> <strong>Are you sure you want to remove all selected campers from the sign in list? <br> This is different from signing out and there is no easy way to undo this.</strong> <br> <em>Yes, I'm really sure:</em> <input type="checkbox" class="yes-im-sure"> </label>
					</div>

					<div id="add-options">
						<hr>
						<span class="content-text"> Initial location: <span class="msg">Applies to all campers being added</span></span>
						<select id="add-location-select">
							<option value="Not Yet Set"> Don't set yet (Default)</option>
							{% for location in locations %}
							<option value="{{location.short}}"> {{location.long}} </option>
							{% endfor %}
						</select>
						<span class="select-arrow"> </span>
						<hr>
						<form id="add-list-form">
							<span id="add-list">
							</span>
							<span class="content-text shorten"> <small>Pressing enter will also add an entry</small>
							<input type="submit" value="Add Entry" id="add-plus" onclick="javascript:appendNewEntry();return false;"> </span>
							<div style="clear:both;" class="msg">
								<span style="display: inline-block"> Entries with an empty first name will be ignored.</span>
								<span style="display: inline-block"> Separate multiple names, if applicable, with spaces. </span>
								</div>
						</form>
					</div>
					<hr class="shorten">
					<input type="submit" name="submit-change" class="submit" value="Submit this Action" form="actionsForm">
				</form>
				<span id="action-status" class="msg content-text">
					<!--Left empty for js-->
				</span>
			</div>
		</div>

		{{ chart.visblock() }}

		{{ tokenbox.fullblock(campers) }}

	</div>

	<div class="content-block" id="chart-block" >
		{{ chart.fullbody(campers) }}
	</div>

</div>
{% endblock %}
