{% extends "base.html" %}
{% import "camperlist.html" as chart %}
{% import "tokenbox.html" as tokenbox %}

{% block head %}
	<title>Main Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/viewdb.css') }}">
	{{ chart.head() }}
	<script async src="{{ url_for('static', filename='js/filter.js') }}"></script>
	<script async src="{{ url_for('static', filename='js/lib/fuse.min.js') }}"></script>

	<script src="{{ url_for('static', filename='js/viewdb.js') }}"></script>
	{{ tokenbox.head() }}
{% endblock %}

{% block content %}
	<div class="h-flex">
		<div id="actionsBlock" class="content-block">
			<h1> Basic Actions </h1>

			<div class="content-text">
				<form id="actionsForm" onsubmit="console.log('aa');submitRequest();return false;">
					<select id="action-select" onchange="changeActionMeta(this)">
						<option value="sign-in"> Sign in to location </option>
						<option value="sign-out">Sign out </option>
						<option value="remove">  Remove from list </option>
						<option value="add">     Add new people to the list </option>
					</select>
					<span class="select-arrow"> </span>
					<br>

					<div id="signin-options">
						<hr>
						<span class="content-text"> Sign in to: </span>
						<select id="location-select" onchange="setVisibilityBySelector('#signin-custom-location', this.value == 'other')">
							{% for location in locations %}A
								<option value="{{location.short}}"> {{location.long}} </option>
							{% endfor %}
							<option value="other"> Other... </option>
						</select>
						<span class="select-arrow"> </span>
						<input type="text" class="hidden" id="signin-custom-location" placeholder="Custom Location">
					</div>

					<div id="remove-confirm">
						<hr>
						<label class="content-text"> Are you sure? <input type="checkbox" class="yes-im-sure"> </label>
					</div>

					<div id="add-options">
						<hr>
						<span class="content-text"> Initial location </span>
						<select id="add-location-select">
							<option value="Not Yet Set"> Don't set yet </option>
							{% for location in locations %}
							<option value="{{location.short}}"> {{location.long}} </option>
							{% endfor %}
						</select>
						<span class="select-arrow"> </span>
						<hr>
						<form id="add-list-form">
							<span id="add-list">
							</span>
							<span class="content-text shorten"> <small>Empty entries will be ignored</small>
							<input type="submit" value="+1" id="add-plus" onclick="javascript:appendNewEntry();return false;"> </span>
						</form>
					</div>
					<hr class="shorten">
					<input type="submit" name="submit-change" class="submit" value="Submit Action" form="actionsForm">
				</form>
				<span id="action-status" class="msg content-text">
					<!--Left empty for js-->
				</span>
			</div>
		</div>

		{{ chart.visblock() }}
	</div>

	{{ tokenbox.fullblock(campers) }}

	<div class="content-block" id="chart-block" >
		{{ chart.fullbody(campers) }}
	</div>

	</div>
{% endblock %}
