{% extends "base.html" %}


{% block head %}
  <head>
    <title>Instascan</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/instascan.min.js') }}"></script>
  </head>
{% endblock %}



{% block content %}
  <video id="preview"></video>
  <script src="{{ url_for('static', filename='js/scanner.js') }}"></script>
  <table>
		<thead>
			<td> ID </td>
			<td> First Name </td>
			<td> Last Name </td>
		</thead>
		<tbody id="recentScans">
      <!--stuff is added here by the javascript during runtime-->
		</tbody>
	</table>
{% endblock %}
